
body{
  box-sizing: border-box;
}

.FruitsMaster{
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  padding: 2rem;

  border-bottom: 2px solid black;
}

nav > img{
  height: 100px;
}

nav > h1{
  font-size: 18pt;
}

nav > button{
  padding: 1rem;

  color: white;
  background: rgb(24, 24, 24);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  border-radius: 10px;
  text-shadow: 0px 0px 0px transparent;
  cursor: grab;
}


main{
  display: flex;
  justify-content: flex-start;
}

.FruitsList{
  padding: 1rem;
  margin: 0;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  background-color: black;
  list-style: none;
}


.FruitsPreview > a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  color: black;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  text-decoration: none;

}


.fruit-image{
  height: 50px;
}

#Detail {
  padding: 5rem;
}

.FruitsDetails{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.FruitsDetails > img{
  height: 200px;
  width: 200px;
  margin-bottom: 2rem;
}

.FruitsDetails > p{
  margin: 0;
  font-size: large;
}

.FruitsDetails span{
  font-weight: bold;
}