nav{
  margin-block: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav > img{
  height: 50px;
}

nav > a{
  font-size: 32pt;
  text-decoration: none;
  color: black;
  font-family: 'Delicious Handrawn', cursive;
}



main{
  padding: 3rem 2rem 10rem 2rem;
  background-color: rgb(241, 241, 241);
}

.Filter{
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
}

.Filter > select, form *{
  padding: 0.5rem 1.5rem;
  background-color: white;
  font-size: large;
  border: 0px;
}

.Filter form input[type=text]{
  margin-right: 3px;
}


.FruitsList{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;

  list-style: none;
}

.FruitsList a{
  padding: 2.5rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 14pt;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.FruitsList img{
  margin-bottom: 1.5rem;
  width: 130px
}



#Pop{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  background-color: hsla(0, 0%, 19%, 0.951);

  display: none;
}

.FruitsDetails{
  width: fit-content;
  padding: 5rem;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: white;
}

.FruitsDetails > button{
  position: absolute;
  right: 20pt;
  top: 20pt;
  width: fit-content;

  background-color: transparent;
  border: 0px solid transparent;
  cursor: grab;
  font-size: 20pt;
}

.FruitsDetails > img{
  height: 20vw;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}

.FruitsDetails > p{
  margin: 0;
  font-size: 14pt;
}

.FruitsDetails span{
  font-weight: bold;
}

@media (max-width: 768px){
  .Filter{
    flex-direction: column;
  }

  .Filter > form{
    display: flex;
    flex-direction: column;
  }

  .Filter form input[type=text]{
    margin: 0 0 3px 0;
  }

}